.week {
  margin-top: 80px;
  width: 100%;
  &__wrapper {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2a2a2a;
    font-family: "Poppins";
    text-align: center;
  }
  &__text {
    text-align: center;
    width: 78%;
    font-size: 15px;
    line-height: 30px;
    color: #afafaf;
    font-family: "Poppins";
  }
  &__slider {
    margin: 100px auto;
    width: 90%;
    margin-left: 200px;
    padding: 10px ;
    overflow-y: hidden;
  }

  &__card {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper,
    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &-price {
      color: #22b3c1;
    }
    &-subtext {
      color: #afafaf;
      font-weight: 500;
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  &__hr {
    width: 100%;
    border-radius: 10px;
    background-color: black !important;
  }

  &__item {
    padding: 30px;
    position: absolute;
    left: 25%;
    bottom: 14%;
    border-radius: 20px;
  }
  &__pic {
    width: 60% !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .week {
    &__wrapper {
      width: 90%;
    }
    &__title {
      font-size: 2rem;
    }
    &__text {
      font-size: 1rem;
    }
    &__slider {
      width: 70%;
      margin-left: 0;
      margin: 100px auto;
    }

    &__item {
      bottom: 8%;
      height: 75%;
    }
    &__card {
      // width: 350px !important;
      height: 450px;

      &-subtext{
        font-size: 0.65rem;
      }
    }
    &__pic {
      width: 70% !important;
    }
  }
}
